// Variables des typographies

$family: (
    primary: 'Lato',
    secondary: 'Roboto'
);

$size: (
    regular: 12px,
    big: 18px
);

$weight: (
    regular: 400,
    bold: 700
);

// Variables des couleurs

$primary: #3282F7;
$secondary: #68D9A4;
$tertiary: #ED6454;

$white: #fff;
$black: #000000;

// Variables de mise en page

$radius: 5px;