@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

header {
    margin-top: 40px;
}

body {
    width: 80%;
    margin: auto;
}

h3 {
    font-family: map-get($family, primary);
}

p {
    font-family: map-get($family, secondary);
}

.NoRecipes {
    display: flex;
    justify-content: center;
    padding: 3rem;
    font-family: map-get($family, primary);
    font-weight: map-get($weight, bold);
    font-size: map-get($size, big);
}

a:link {
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 0.5rem;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 1rem;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.2);
}